# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\idea\wokspace\flink0421\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
